@model HomeVM
@{
    ViewData["Title"] = "Index";
}

<div class="d-flex h-400 text-left text-white bg-dark" cz-shortcut-listen="true" style="background-attachment:fixed ;padding-left: 200px;height: 100vh;background-size: cover;background-image: url('https://bootstrapmade.com/demo/templates/Day/assets/img/hero-bg.jpg') !important;">
    <div class="cover-container d-flex w-100 h-200 p-3 mx-auto flex-column">
        <main class="px-3" style="color: black;padding-top: 300px;">
            <h1 style="font-size: 70px;color: white;">WELCOME TO DAY</h1>
            <h3>We are team of talented designers making websites with Bootstrap</h3>
            <button type="button" class="btn btn-outline-danger" style="font-size: 40px;color: white;border-radius:0px;border-color:white;">Get Started</button>
        </main>
    </div>
</div>
<div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
        <img src="https://bootstrapmade.com/demo/templates/Day/assets/img/about.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
    </div>
    <div class="col-lg-6" style="width: 800px;">
        <h3 class="display-5 fw-bold lh-1 mb-3">Voluptatem dignissimos provident quasi corporis voluptates sit assumenda.</h3>
        <p class="lead fst-italic">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <p class="lead"><i class="bi bi-check-circle" style="color: red;"></i>Ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <p class="lead"><i class="bi bi-check-circle" style="color: red;"></i>Duis aute irure dolor in reprehenderit in voluptate velit.</p>
        <p class="lead"><i class="bi bi-check-circle" style="color: red;"></i>Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</p>
        <p>Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
    </div>
    <div style="display: flex;gap:20px ; padding: 20px 500px;">
        <div class="card" style="width: 18rem; text-align: left;">
            <div class="card-body" id="card-body">
                <h2 class="card-title" style="color: red;">01</h2>
                <h2 class="card-title">Lorem Ipsum</h2>
                <p class="card-text">Ulamco laboris nisi ut aliquip ex ea commodo consequat. Et consectetur ducimus vero placeat</p>
            </div>
        </div>

        <div class="card" style="width: 18rem; text-align: left;">
            <div class="card-body" id="card-body">
                <h2 class="card-title" style="color: red;">02</h2>
                <h2 class="card-title">Repellat Nihil</h2>
                <p class="card-text">Dolorem est fugiat occaecati voluptate velit esse. Dicta veritatis dolor quod et vel dire leno para dest</p>
            </div>
        </div>

        <div class="card" style="width: 18rem; text-align: left;">
            <div class="card-body" id="card-body">
                <h2 class="card-title" style="color: red;">03</h2>
                <h2 class="card-title">Ad ad velit qui</h2>
                <p class="card-text">Molestiae officiis omnis illo asperiores. Aut doloribus vitae sunt debitis quo vel nam quis</p>
            </div>
        </div>
    </div>
    <div class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top" id="card" style="background-color: #F2F2F2;">
        <div class="col-md-4 d-flex align-items-center" style="gap:40px; padding: 10px 500px">
            <img src="https://bootstrapmade.com/demo/templates/Day/assets/img/clients/client-1.png" style="width: 100px;height: 50px; filter: grayscale(100%);" alt="">
            <img src="https://bootstrapmade.com/demo/templates/Day/assets/img/clients/client-2.png" style="width: 100px;height: 50px; filter: grayscale(100%);" alt="">
            <img src="https://bootstrapmade.com/demo/templates/Day/assets/img/clients/client-3.png" style="width: 100px;height: 50px; filter: grayscale(100%);" alt="">
            <img src="https://bootstrapmade.com/demo/templates/Day/assets/img/clients/client-4.png" style="width: 100px;height: 50px; filter: grayscale(100%);" alt="">
            <img src="https://bootstrapmade.com/demo/templates/Day/assets/img/clients/client-5.png" style="width: 100px;height: 50px; filter: grayscale(100%);" alt="">
            <img src="https://bootstrapmade.com/demo/templates/Day/assets/img/clients/client-6.png" style="width: 100px;height: 50px; filter: grayscale(100%);" alt="">

        </div>
    </div>
    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" style="text-align: center;">
                <div class="col">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <i class="bi bi-globe2" style="font-size: 40px;background-color: red;color:white"></i>
                            <h3>Lorem Ipsum</h3>
                            <p class="card-text">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <i class="bi bi-file-earmark-text" style="font-size: 40px;background-color: red;color:white"></i>
                            <h3>Sed ut perspiciatis</h3>
                            <p class="card-text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <i class="bi bi-speedometer2" style="font-size: 40px;background-color: red;color:white"></i>
                            <h3>Magni Dolores</h3>
                            <p class="card-text">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <i class="las la-globe" style="font-size: 40px;background-color: red;color:white"></i>
                            <h3>Nemo Enim</h3>
                            <p class="card-text">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <i class="lab la-youtube-square" style="font-size: 40px;background-color: red;color:white"></i>
                            <h3>Dele cardo</h3>
                            <p class="card-text">Quis consequatur saepe eligendi voluptatem consequatur dolor consequuntur</p>

                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <i class="las la-archway" style="font-size: 40px;background-color: red;color:white"></i>
                            <h3>Divera don</h3>
                            <p class="card-text">Modi nostrum vel laborum. Porro fugit error sit minus sapiente sit aspernatur</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex h-400 text-center text-white bg-dark" cz-shortcut-listen="true" style="background-attachment:fixed ;height: 50vh;background-size: cover;background-image: url('https://bootstrapmade.com/demo/templates/Day/assets/img/cta-bg.jpg') !important;">
        <div class="cover-container d-flex w-100 h-200 p-3 mx-auto flex-column">
            <main class="px-3" style="color: black;padding-top: 60px;">
                <h3 style="color: white;"><b>Call To Action</b> </h3>
                <p style="color: white;font-size: 19px;">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia <br> deserunt mollit anim id est laborum.</p>
                <button type="button" class="btn btn-outline-danger" style="font-size: 20px;color: white;border-color: white;">CALL TO ACTION</button>
            </main>
        </div>
    </div>


    <section>
        <div class="background-3" style="text-align: center;">
            @foreach (var item in Model.Portfolios)
            {

                <h1 class="display-3 text-center mb-2">PORTFOLIO</h1>
                <p class="display-7 text-center mb-2">Sit sint consectetur velit quisquam cupiditate impedit suscipit alias</p><br>
                <ul style="list-style:none;display: flex;gap: 50px;padding-left: 800px;">
                    <li>ALL</li>
                    <li>APP</li>
                    <li>CARD</li>
                    <li>WEB</li>
                </ul>
                <div class="left">
                    <img src="~/assets/image/@item.Image1" style="width: 450px;height: 450px;" alt="">
                    <img src="~/assets/image/@item.Image2" style="width: 450px;height: 250px;" alt="">
                    <img src="~/assets/image/@item.Image3" style="width: 450px;height: 370px;" alt="">
                </div>
                <div class="meedle">
                    <img src="~/assets/image/@item.Image4" style="width: 450px;height: 750px;" alt="">
                    <img src="~/assets/image/@item.Image5" style="width: 450px;height: 880px;" alt="">
                    <img src="~/assets/image/@item.Image6" style="width: 450px;height: 300px;" alt="">
                </div>
                <div class="right">
                    <img src="~/assets/image/@item.Image7" style="width: 450px;height: 350px;" alt="">
                    <img src="~/assets/image/@item.Image8"style="width: 450px;height: 350px;" alt="">
                    <img src="~/assets/image/@item.Image9" style="width: 450px;height: 300px;" alt="">
                </div>
            }
        </div>
    </section>
    <div>

    </div>
    <section>

        <h3 class="display-5 text-center mb-2">PRICING</h3>
        <p class="display-7 text-center mb-2">Sit sint consectetur velit quisquam cupiditate impedit suscipit alias</p><br>
        <div style="display: flex;gap:20px ; padding: 20px 500px; ">
            <div class="card" style="width: 88rem; height: 25rem;border-radius: 15px;text-align: center ;">
                <div class="card-body" style="padding: 40px 0px;">
                    <h3 class="card-title">FREE</h3>
                    <div style="display: flex;padding-left: 100px;">
                        <p>$</p>
                        <h1>0</h1>
                        <p>/month</p>
                    </div>
                    <p>
                        Aida dere <br>
                        Nec feugiat nisl <br>
                        Nulla at volutpat dola <br>
                        Pharetra massa <br>
                        Massa ultricies mi
                    </p>
                    <button style="background-color: red;border-color: red;color:white">Buy Now</button>
                </div>
            </div>

            <div class="card" style="width: 88rem; height: 28rem; text-align: center;border-radius: 25px;">
                <div class="card-body" style="padding: 40px 0px;background-color: red;color: white;border-radius: 15px;">
                    <h3 class="card-title">FREE</h3>
                    <div style="display: flex;padding-left: 100px;">
                        <p>$</p>
                        <h1>0</h1>
                        <p>/month</p>
                    </div>
                    <p>
                        Aida dere <br>
                        Nec feugiat nisl <br>
                        Nulla at volutpat dola <br>
                        Pharetra massa <br>
                        Massa ultricies mi
                    </p>
                    <button style="background-color: white;border-color: white;color:red">Buy Now</button>
                </div>
            </div>

            <div class="card" style="width: 88rem;height: 25rem; text-align: center;border-radius: 15px;">
                <div class="card-body" style="padding: 40px 0px;">
                    <h3 class="card-title">FREE</h3>
                    <div style="display: flex;padding-left: 100px;">
                        <p>$</p>
                        <h1>0</h1>
                        <p>/month</p>
                    </div>
                    <p>
                        Aida dere <br>
                        Nec feugiat nisl <br>
                        Nulla at volutpat dola <br>
                        Pharetra massa <br>
                        Massa ultricies mi
                    </p>
                    <button style="background-color: red;border-color: red;color:white">Buy Now</button>
                </div>
            </div>
        </div>
</div>
</section>
<section>

    <h1 class="display-5 text-center mb-2">TEAM</h1>
    <p class="display-7 text-center mb-2">Sit sint consectetur velit quisquam cupiditate impedit suscipit alias</p><br>
    <div style="display: flex;gap:20px ; padding: 20px 500px; ">
        <div class="card" style="width: 88rem; height: 35rem;border-radius: 15px;text-align: center ;">
            <div class="card-body" style="padding: 40px 0px;">
                <img src="https://bootstrapmade.com/demo/templates/Day/assets/img/team/team-1.jpg" alt="" style="width:240px ;height:240 ;border-radius: 50%;">
                <h3 class="card-title">Walter White</h3>
                <p>Chief Executive Officer</p>
                <p>Magni qui quod omnis unde et eos fuga et exercitationem. Odio veritatis perspiciatis quaerat qui aut aut aut</p>
                <i class="bi bi-twitter"></i>
                <i class="bi bi-facebook"></i>
                <i class="bi bi-instagram"></i>
            </div>
        </div>

        <div class="card" style="width: 88rem; height: 35rem; text-align: center;border-radius: 25px;">
            <div class="card-body" style="padding: 40px 0px;;border-radius: 15px;">
                <img src="https://bootstrapmade.com/demo/templates/Day/assets/img/team/team-2.jpg" alt="" style="width:240px ;height:240 ;border-radius: 50%;">
                <h3 class="card-title">Sarah Jhinson</h3>
                <p>Product Manager</p>
                <p>Repellat fugiat adipisci nemo illum nesciunt voluptas repellendus. In architecto rerum rerum temporibus</p>
                <i class="bi bi-twitter"></i>
                <i class="bi bi-facebook"></i>
                <i class="bi bi-instagram"></i>
            </div>
        </div>

        <div class="card" style="width: 88rem;height: 35rem; text-align: center;border-radius: 15px;">
            <div class="card-body" style="padding: 40px 0px;">
                <img src="https://bootstrapmade.com/demo/templates/Day/assets/img/team/team-3.jpg" alt="" style="width:240px ;height:240 ;border-radius: 50%;">
                <h3 class="card-title">William Anderson</h3>
                <p>CTO</p>
                <p>Voluptas necessitatibus occaecati quia. Earum totam consequuntur qui porro et laborum toro des clara</p>
                <i class="bi bi-twitter"></i>
                <i class="bi bi-facebook"></i>
                <i class="bi bi-instagram"></i>
            </div>
        </div>
    </div>
</section>
<section>
    <h1 class="display-5 text-center mb-2">CONTACT</h1>
    <p class="display-7 text-center mb-2">Sit sint consectetur velit quisquam cupiditate impedit suscipit alias</p><br>
    <div style="display: flex;gap:20px ; padding: 20px 500px; ">
        <div class="card" style="width: 208rem; height: 10rem;text-align: center ;">
            <div class="card-body" style="padding: 0px 0px;">
                <i class="bi bi-geo-alt" style="font-size: 35px;color:red;"></i>
                <h3 class="card-title">Our Address</h3>
                <p>A108 Adam Street, New York, NY 535022</p>
            </div>
        </div>

        <div class="card" style="width: 88rem; height: 10rem; text-align: center;">
            <div class="card-body" style="padding: 0px 0px;">
                <i class="bi bi-envelope-fill" style="font-size: 35px;color:red"></i>
                <h3 class="card-title">Email Us</h3>
                <p>contact@example.com</p>
            </div>
        </div>

        <div class="card" style="width: 88rem;height: 10rem; text-align: center;">
            <div class="card-body" style="padding: 0px 0px;">
                <i class="bi bi-telephone-plus" style="font-size: 35px;color:red "></i>
                <h3 class="card-title">Call Us</h3>
                <p>+1 5589 55488 55</p>
            </div>
        </div>
    </div>
    <div style=" display:flex;align-items: center;justify-content: center;width: 100%;padding: 20px 400px;">
        <div style="">
            <img src="https://www.renderhub.com/3dstudio/baku-azerbaijan-50km/baku-azerbaijan-50km-01.jpg" style="height: 400px;width: 600px;" alt="">
        </div>
        <div class="row g-3" style="text-align: center; height: 50vh;background-color: #F8F9FA;">
            <div class="col-sm-4" style="text-align: left;">
                <label for="firstName" class="form-label">Name</label>
                <input type="text" class="form-control" id="firstName" placeholder="" value="" required="">
                <div class="invalid-feedback">
                    Valid first name is required.
                </div>
            </div>

            <div class="col-sm-4" style="text-align: left;">
                <label for="lastName" class="form-label">Email</label>
                <input type="text" class="form-control" id="lastName" placeholder="" value="" required="">
                <div class="invalid-feedback">
                    Valid last name is required.
                </div>
            </div>
            <div class="col-sm-4" style="text-align: left;">
                <label for="lastName" class="form-label">Phone</label>
                <input type="text" class="form-control" id="lastName" placeholder="" value="" required="">
                <div class="invalid-feedback">
                    Valid last name is required.
                </div>
            </div>
            <div class="col-sm-12" style="text-align: left;">
                <label for="lastName" class="form-label">Message</label>
                <input type="text" class="form-control" id="lastName" placeholder="" value="" required="" style="height: 250px;border-radius: 10px;">
                <div class="invalid-feedback">
                    Valid last name is required.
                </div>
            </div>
            <div>
                <button type="button" class="btn btn-outline-danger" style="width: 40%;height: 40px;"><B>SEND MESSAGE</B> </button><br>
            </div>
        </div>
    </div>
</section>

